{% case page.language %}

{% when 'es' %}

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Acerca del <abbr title="Community Leadership Summit Madrid" lang="en">CLSxMadrid</abbr></h2>
            <div class="row">
                <div class="col-lg-6" style="text-align: left;">
                    <p>El <strong><span lang="en">Community Leadership Summit</span> Madrid 2015</strong> (<strong>CLSxMadrid 2015</strong>), basado en la idea original del <a href="http://www.communityleadershipsummit.com">Community Leadership Summit</a>, junta líderes, gestores y organizadores de comunidades y los proyectos y organizaciones que están interesadas en hacer crecer y generar comunidades fuertes.</p>

                    <p>El encuentro intenta juntar personas experimentadas en la gestión de comunidades, relaciones y colaboraciones <span lang="en">online</span> para discutir, debatir y refinar el arte de construir una comunidad efectiva.</p>
                </div>
                <div class="col-lg-6" style="text-align: left;">
                    <p>El núcleo del <strong>CLSxMadrid 2015</strong> es una desconfrencia abierta en la que cualquier persona está invitada a liderar y contribuir en las sesiones en cualquier tema que sea relevante. Esta sesiones son sesiones de discusión: los participantes pueden interactuar diréctamente, ofrecer reflexiones y experiencia, y compartir ideas y preguntas. Esta sesiones se completan con una serie de presentaciones de expertos en la materia, panéles de debate y oportunidades para el <span lang="en">networking</span>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>About <abbr title="Community Leadership Summit Madrid">CLSxMadrid</abbr></h2>
            <div class="row">
                <div class="col-lg-6" style="text-align: left;">
                    <p>The <strong>Community Leadership Summit Madrid 2015</strong> (<strong>CLSxMadrid 2015</strong>), based on the original <a href="http://www.communityleadershipsummit.com">Community Leadership Summit</a> idea, brings together community leaders, organizers and managers and the projects and organizations that are interested in growing and empowering a strong community.</p>

                    <p>The event pulls together the leading minds in community management, relations and online collaboration to discuss, debate and continue to refine the art of building an effective and capable community.</p>
                </div>
                <div class="col-lg-6" style="text-align: left;">
                    <p>At the heart of <strong>CLSxMadrid 2015</strong> is an open unconference-style event in which everyone who attends is welcome to lead and contribute sessions on any topic that is relevant. These sessions are very much discussion sessions: the participants can interact directly, offer thoughts and experience, and share ideas and questions. These unconference sessions are also augmented with a series of presentations from leaders in the field, panel debates and networking opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endcase %}
