<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="brand-heading">CLSxMadrid</h1>
                    <p class="intro-text">Community Leadership Summit Madrid</p>
                    <!-- Add info for new meeting
                    <p>Campus Madrid - December, 12<sup>th</sup></p>
                    <p><a href="" class="btn btn-default btn-lg">Register now!</a></p>
                  -->
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>

                <div class="col-md-6"><!--
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://cdnapi.kaltura.com/p/811441/sp/81144100/embedIframeJs/uiconf_id/30323531/partner_id/811441?iframeembed=true&amp;playerId=kaltura_player_1436250705&amp;entry_id=0_f07eyxbn&amp;flashvars[akamaiHD.loadingPolicy]=preInitialize&amp;flashvars[akamaiHD.asyncInit]=true&amp;flashvars[twoPhaseManifest]=true&amp;flashvars[streamerType]=hdnetworkmanifest" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div> -->
                    <img src="img/cls.png" class="img-responsive" alt="">
                </div>

            </div>
        </div>
    </div>
</header>
