<!-- Map Section -->
<section id="venue" class="content-section text-center">
  <div class="row">
    <h2>Venue</h2>
    <div class="col-lg-8 col-lg-offset-2">
      <p><a href="https://www.campus.co/madrid/"><img src="img/campus.png" alt="Campus Madrid" width="240"></a></p>
      <p><a href="https://www.google.com/maps/place/Calle+Moreno+Nieto,+2,+28005+Madrid,+Spain/@40.4121601,-3.7180604,18z/data=!3m1!4b1!4m2!3m1!1s0xd4227d8ab40bd9b:0xa9638e0f9d2ec2e8">Calle Moreno Nieto, 2 28005 Madrid, Spain </a></p>
    </div>
  </div>
  <div id="map"></div>
</section>
