<!-- Map Section -->
<section id="venue" class="content-section text-center">
  <div class="row">
    <h2>Venue</h2>
    <div class="col-lg-8 col-lg-offset-2">
      <p class="hidden name">{{site.data.venue.name}}</p>
      <p><a href="{{site.data.venue.url}}"><img src="img/{{site.data.venue.logo}}" alt="{{site.data.venue.name}}" width="240"></a></p>
      <p class="address"><a href="{{site.data.venue.gmap_url}}">{{site.data.venue.address}}</a></p>
    </div>
  </div>
  <div id="map">
    <span class="hidden lat">{{site.data.venue.lat}}</span>
    <span class="hidden long">{{site.data.venue.long}}</span>
  </div>
</section>
