{% case page.language %}

{% when 'es' %}
<!-- Team section -->
<section id="organization" class="content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Equipo organizativo</h2>
            <p style="text-align: left;">El <a href="http://www.communityleadershipsummit.com/" hreflang="en">Community Leadership Summit</a> original fue concebido en 2009 por <a href="http://www.jonobacon.org">Jono Bacon</a>, actualmente Senior Director of Community en XPRIZE, anteriormente <em lang="en">community manager</em> para la comunidad global de Ubuntu, y autor del libro <a href="http://www.artofcommunityonline.org/">The Art of Community</a> de <a href="http://www.oreilly.com/">O’Reilly</a>. Lo ha organizado desde entonces cada año. El encuentro es el primer paso para ayudar a gestores y líderes de comunidades a definir y refinar su trabajo, compartir conocimiento y hacer conexiones de forma neutral.</p>

            <p style="text-align: left;">El <strong>CLSxMadrid</strong> está organizado por un equipo que incluye a <a href="http://twitter.com/jsmanrique">Manrique López</a> (involucrado en diversas comunidades Open Source y en el Community Leadership Summit original), <a href="http://twitter.com/chimarys">María Sánchez</a> (que ha trabajado para diversas comunidades y empresas Open Source en tareas de comunicación y marketing), <a href="http://twitter.com/elsatch">César García</a> (activo las comunidades en <abbr title="Internet of Things" lang="en">IoT</abbr> y MakespaceMadrid), <a href="https://twitter.com/davilagrau">Andrés L. Martínez</a> (que trabaja en el Google Developer Program), <a href="https://twitter.com/laura_vignali">Laura Vignali</a> (co-organizadora del Codemotion España) y otros.
        </div>
    </div>
</section>

{% else %}
<!-- Team section -->
<section id="organization" class="content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Organization Team</h2>
            <p style="text-align: left;">The original <a href="http://www.communityleadershipsummit.com/">Community Leadership Summit</a> was conceived back in 2009 by <a href="http://www.jonobacon.org">Jono Bacon</a>, who is currently the Senior Director of Community at XPRIZE, former community manager for the global Ubuntu community, and author of <a href="http://www.artofcommunityonline.org/">The Art of Community</a> by <a href="http://www.oreilly.com/">O’Reilly</a>. He has organized it each year since then. He put together the summit as a first step in helping community managers and leaders to define and refine their work, share knowledge and make connections in a vendor neutral way.</p>

            <p style="text-align: left;">The <strong>CLSxMadrid</strong> is lead by a team of organizers including <a href="http://twitter.com/jsmanrique">Manrique López</a> (active in several Open Source communities and involved on the original Community Leadership Summit), <a href="http://twitter.com/chimarys">María Sánchez</a> (working for several Open Source communities on communication and marketing activities), <a href="http://twitter.com/elsatch">César García</a> (active in <abbr title="Internet of Things">IoT</abbr> and MakespaceMadrid communities), <a href="https://twitter.com/davilagrau">Andrés L. Martínez</a> (working at Google Developer Program), <a href="https://twitter.com/laura_vignali">Laura Vignali</a> (Codemotion Spain co-organizer) and others.
        </div>
    </div>
</section>

{% endcase %}
