---
language: es
layout: default
permalink: index.es.html
---

<!-- Agenda section -->
<section id="agenda" class="content-section text-center">
  <div class="darkbg-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Agenda</h2>
          <table class="table" style="text-align: left;">
            <tbody>
              <tr>
                <th>17:00 - 17:30</th>
                <td colspan="2">Registro</td>
              </tr>
              <tr>
                <th>17:30 - 18:00</th>
                <td colspan="2">Apertura</td>
              </tr>
              <tr>
                <th>18:00 - 19:20</th>
                <td colspan="2">Charlas técnicas</td>
              </tr>
              <tr>
                <th>19:30 - 20:30</th>
                <td colspan="2">Desconferencia</td>
              </tr>
              <tr>
                <th>20:30 - 21:00</th>
                <td colspan="2">Recapitulación</td>
              </tr>
              <tr>
                <th>21:00 - ...</th>
                <td colspan="2"><em>¡Quién sabe!</em></td>
              </tr>
            </tbody>
          </table>
          <p><a href="https://www.eventbrite.com/e/clsxmadrid-2016-tickets-27598551009" class="btn btn-default btn-lg">Regístrate <strong>ya</strong>!</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"><p>Encuentro esponsorizado por:</p></div>
        <div class="col-md-8">
          {% for sponsor in site.data.06_2016_sponsors %}
          <div class="col-sm-2"><a href="{{sponsor.url}}"><img src="img/{{sponsor.logo}}" class="img-responsive" alt="{{sponsor.name}}"></a></div>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <h3>Última edición <small><abbr title="Diciembre">Dic.</abbr> 2015</small></h3>
        <div class="col-lg-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/WRySh99JQdg" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-8">
          <table class="table">
            <tbody>
              {% for talk in site.data.12_2015_agenda %}
              <tr>
                <td class="text-left"><a href="{{talk.slides}}">{{talk.title}}</a></td>
                <td class="text-right"><a href="{{talk.speaker_url}}">{{talk.speaker}}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-4"><p>Encuentro esponsorizado por:</p></div>
          <div class="col-md-8">
            {% for sponsor in site.data.12_2015_sponsors %}
            <div class="col-sm-2"><a href="{{sponsor.url}}"><img src="img/{{sponsor.logo}}" class="img-responsive" alt="{{sponsor.name}}"></a></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
